@charset "UTF-8";
:root{
    --color01:#120051;
    --color02:#FF5252;
    --color03:#ffa3ff 20%,#fff 30%, #ffff91 70%,#fff 80%,#ffa3ff 100%;
    --color04:#ffffffa7;
    --color05:#ff8080;
    --color06:#8c4141;
    --color07:#ffc6c6;
    --color08: #966c6c;
}

*{margin: 0;padding: 0;line-height: 1;color: var(--color01); box-sizing: border-box;}
a{text-decoration: none;color: inherit;}
img{vertical-align: bottom;max-width: 100%;}
ul{list-style: none;}
html{scroll-behavior: smooth;}
body{background:linear-gradient(var(--color03)) ;}
/* *{outline: red solid 2px;} */

/* 共通 */
h2{
    border-left:20px solid var(--color01);
    padding-left: 10px;
    margin-bottom: 30px;
    font-family: 'Dela Gothic One', cursive;
    /* font-family: 'Mochiy Pop P One', sans-serif; */
}
/* ヘッダー */

header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10 ;
    background-color: var(--color04);
    box-shadow: 0 0 10px 10px var(--color04);
    padding: 30px;
}
header h1{
    font-size: 44px;
    font-family: 'Mochiy Pop P One', sans-serif;
}
header p{
    font-size: 10px;
    padding: 30px;
    height: 100px;
}
header p span:nth-of-type(1){
    animation: txt-anime 0.2s 4.31s forwards;
}
header p span:nth-of-type(2){
    animation: txt-anime 0.2s 4.41s forwards;
}
header p span:nth-of-type(3){
    animation: txt-anime 0.2s 4.51s forwards;
}
header p span:nth-of-type(4){
    animation: txt-anime 0.2s 4.61s forwards;
}
header p span:nth-of-type(5){
    animation: txt-anime 0.2s 4.71s forwards;
}
header p span:nth-of-type(6){
    animation: txt-anime 0.2s 4.81s forwards;
}
header p span:nth-of-type(7){
    animation: txt-anime 0.2s 4.91s forwards;
}
header p span:nth-of-type(8){
    animation: txt-anime 0.2s 4.96s forwards;
}
header p span:nth-of-type(9){
    animation: txt-anime 0.2s 5.01s forwards;
}
header p span:nth-of-type(10){
    animation: txt-anime 0.2s 5.06s forwards;
}
header p span:nth-of-type(11){
    animation: txt-anime 0.2s 5.11s forwards;
}
header p span:nth-of-type(12){
    animation: txt-anime 0.2s 5.16s forwards;
}
header p span:nth-of-type(13){
    animation: txt-anime 0.2s 5.21s forwards;
}


@keyframes txt-anime{
    0%{font-size: 10px;opacity: 0;}
    100%{font-size: 35px;opacity: 1;}
}
.heart{
    width: 100px;
    height: 100px;
    background: var(--color02); /* 色 */
    clip-path: path("M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z");
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    animation: heart-anime 6s 1s infinite linear;
}
@keyframes heart-anime{
    0%{top: -100px;left: -100px;transform: rotate(0) scale(5);}
    50%{transform: rotate(180deg) scale(2);}
    100%{top: 120%;left: 10%;transform: rotate(360deg);}

}
.hero-img{
    position: absolute;
    top: 10%;
    overflow: hidden;
    width: 100%;
    height: 90vh;
    z-index: 1;
}
.hero{
    /* 背景 */
    position: absolute;
    top: -20%;
    width: 100%;
    height: 100vh;
    transform: scale(110%);
    object-fit: cover;
    /* background-color: #f0f; */
    background: url(../img/header01_.png) no-repeat center center/cover;
    z-index: -1;
}
#hero2{
    position: absolute;
    inset: 0;
    margin:  auto;
    width: 200px;
    height: 200px;
    background: url(../img/header-donut_01.png)no-repeat center center/cover;
    filter: blur(5);
    z-index: 1;
    animation: d-anime 3s 0.6s infinite;
}
#hero2::after{
    content: "";
    position: absolute;
    inset: 0;
    margin:  auto;
    left: 150px;
    width: 200px;
    height: 200px;
    background: url(../img/header-donut_03.png)no-repeat center center/cover;
    filter: blur(5);
    z-index: 100;
    animation: d-anime 3s 1.2s infinite;
}
#hero2::before{
    content: "";
    position: absolute;
    inset: 0;
    margin:  auto;
    left: -300px;
    width: 200px;
    height: 200px;
    background: url(../img/header-donut_02.png)no-repeat center center/cover;
    filter: blur(5);
    z-index: 100;
    animation: d-anime 3s 1.8s infinite;
}
@keyframes d-anime{
    
    0%{transform: scale(1,1);}
    45%{transform: scale(1,1);}
    50%{transform: scale(0.8,1.2);}
    55%{transform: scale(1,1);}
    58%{transform: scale(0.9,1.1);}
    61%{transform: scale(1,1);}
    64%{transform: scale(0.95,1.05);}
    67%{transform: scale(1,1);}
}
#hero3{
    position: absolute;
    top: -20%;
    width: 100%;
    height: 100vh;
    transform: scale(110%);
    object-fit: cover;
    background: url(../img/header02_.png) no-repeat center center/cover;
    z-index: 3;
}

/* ハンバーガーメニューボタン */
.hamberger{
    position: fixed;
    top: 5%;
    right: 5%;
    width: 110px;
    height: 110px;
    background:url(../img/header-donut_02.png) center center/cover;
    z-index: 15;
    transition: 0.3s;
    animation: ham-anime01 6s infinite linear; 
}
@keyframes ham-anime01{
    0%{transform: rotate(0); background:url(../img/header-donut_01.png) center center/cover;}
    20%{background:url(../img/header-donut_01.png) center center/cover;}
    30%{background:url(../img/header-donut_02.png) center center/cover;}
    70%{background:url(../img/header-donut_02.png) center center/cover;}
    80%{background:url(../img/header-donut_01.png) center center/cover;}
    100%{transform: rotate(360deg);background:url(../img/header-donut_01.png) center center/cover;}
}
.hamberger.active{
    border-radius: 50%;
    background:var(--color05) url(../img/header-donut_03.png) center center/cover;
    animation: ham-anime02 6s infinite linear;     
}
@keyframes ham-anime02{
    0%{transform: rotate(0); background:url(../img/header-donut_01.png) center center/cover;}
    10%{background:url(../img/header-donut_01.png) center center/cover;}
    30%{background:url(../img/header-donut_02.png) center center/cover;}
    50%{background:url(../img/header-donut_02.png) center center/cover;}
    70%{background:url(../img/header-donut_03.png) center center/cover;}
    90%{background:url(../img/header-donut_03.png) center center/cover;}
    100%{transform: rotate(360deg);background:url(../img/header-donut_01.png) center center/cover;}
}



/* ナビゲーション */
nav{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 10;
    font-family: 'Dela Gothic One', cursive;
    padding: 10px;
    background:linear-gradient(var(--color03)) ;
    transition: 0.3s;
}
nav.active{
    left: 0;
    text-align: center;
}
nav.active ul{
    margin: 0 auto;
    padding-top: 55%;
}
nav.active ul li{
    margin-left: 30%;
    margin-bottom: 10%;
}
nav ul li{
    height: 30px;
    margin-bottom: 10px;
    overflow: hidden;
}

nav ul li a{
    transition: 0.5s;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
}

.top a{
    /* 1文字24px */
    width: 84px;
}
.top:hover a span:nth-of-type(1),.top:hover a span:nth-of-type(4){
    transform: translate(0,-100%);
    transition: 0.5s;
}
.top:hover a span:nth-of-type(2),.top:hover a span:nth-of-type(5){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.04s;
}
.top:hover a span:nth-of-type(3),.top:hover a span:nth-of-type(6){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.08s;
}  
.about a{
    width: 225px;
}
.about:hover a span:nth-of-type(1),.about:hover a span:nth-of-type(9){
    transform: translate(0,-100%);
    transition: 0.5s;
}
.about:hover a span:nth-of-type(2),.about:hover a span:nth-of-type(10){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.04s;
}
.about:hover a span:nth-of-type(3),.about:hover a span:nth-of-type(11){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.08s;
}
.about:hover a span:nth-of-type(4),.about:hover a span:nth-of-type(12){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.12s;
}
.about:hover a span:nth-of-type(5),.about:hover a span:nth-of-type(13){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.16s;
}
.about:hover a span:nth-of-type(6),.about:hover a span:nth-of-type(14){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.20s;
}
.about:hover a span:nth-of-type(7),.about:hover a span:nth-of-type(15){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.24s;
}
.about:hover a span:nth-of-type(8),.about:hover a span:nth-of-type(16){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.28s;
}
.line-up{
    width: 169px;
}
.line-up:hover a span:nth-of-type(1),.line-up:hover a span:nth-of-type(8){
    transform: translate(0,-100%);
    transition: 0.5s;
}
.line-up:hover a span:nth-of-type(2),.line-up:hover a span:nth-of-type(9){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.04s;
}
.line-up:hover a span:nth-of-type(3),.line-up:hover a span:nth-of-type(10){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.08s;
}
.line-up:hover a span:nth-of-type(4),.line-up:hover a span:nth-of-type(11){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.12s;
}
.line-up:hover a span:nth-of-type(5),.line-up:hover a span:nth-of-type(12){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.16s;
}
.line-up:hover a span:nth-of-type(6),.line-up:hover a span:nth-of-type(13){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.20s;
}
.line-up:hover a span:nth-of-type(7),.line-up:hover a span:nth-of-type(14){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.24s;
}

.access{
    width: 180px;
}
.access:hover a span:nth-of-type(1),.access:hover a span:nth-of-type(7){
    transform: translate(0,-100%);
    transition: 0.5s;
}
.access:hover a span:nth-of-type(2),.access:hover a span:nth-of-type(8){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.04s;
}
.access:hover a span:nth-of-type(3),.access:hover a span:nth-of-type(9){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.08s;
}
.access:hover a span:nth-of-type(4),.access:hover a span:nth-of-type(10){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.12s;
}
.access:hover a span:nth-of-type(5),.access:hover a span:nth-of-type(11){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.16s;
}
.access:hover a span:nth-of-type(6),.access:hover a span:nth-of-type(12){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.20s;
}
.access:hover a span:nth-of-type(7),.access:hover a span:nth-of-type(13){
    transform: translate(0,-100%);
    transition: 0.5s;
    transition-delay: 0.24s;
}


/* about me 会社紹介 */
        
.about-me{
    max-width: 1080px;
    margin: 110vh auto 150px;
    line-height: 2;
    letter-spacing: 0.2em;
    padding: 0 30px;
}
.about-me h2{
    font-family: 'Dela Gothic One', cursive;
    display: flex;
    overflow: hidden;
}
.about-me p{
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.15em;
}
#about-me span{
    display: block;
    transform: translate(0, 50px);
}
#about-me span:nth-of-type(1){
    animation: h2-anime 3s infinite;
}
#about-me span:nth-of-type(2){
    animation: h2-anime 3s 0.04s infinite;
}
#about-me span:nth-of-type(3){
    animation: h2-anime 3s 0.08s infinite;
}
#about-me span:nth-of-type(4){
    animation: h2-anime 3s 0.12s infinite;
}
#about-me span:nth-of-type(5){
    animation: h2-anime 3s 0.16s infinite;
}
#about-me span:nth-of-type(6){
    animation: h2-anime 3s 0.20s infinite;
}
#about-me span:nth-of-type(7){
    animation: h2-anime 3s 0.24s infinite;
}
#about-me span:nth-of-type(8){
    animation: h2-anime 3s 0.28s infinite;
}

@keyframes h2-anime{
    0%{transform: translate(0, 50px);}
    20%{transform: translate(0, 0);}
    80%{transform: translate(0, 0);}
    100%{transform: translate(0, 50px);}
}


#about-me span:nth-of-type(9){
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(../img/donut_char_500x500_01.png) center center/cover;
    animation: h2-anime-img01 3s 0.32s infinite;
}
@keyframes h2-anime-img01{
    0%{transform: translate(220px, 0px)scale(1,1);}
    20%{transform: translate(220px, -15px)scale(1,1);}
    25%{transform: translate(220px, -15px)scale(1.3,0.7);}
    30%{transform: translate(220px, -15px)scale(1,1);}
    35%{transform: translate(220px, -15px)scale(1.2,0.8);}
    40%{transform: translate(220px, -15px)scale(1,1);}
    45%{transform: translate(220px, -15px)scale(1.1,0.9);}
    80%{transform: translate(220px, -15px)scale(1,1);}
    100%{transform: translate(220px, 0px)scale(1,1);}
}
#about-me span:nth-of-type(10){
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(../img/donut_char_500x500_02.png) center center/cover;
    animation: h2-anime-img02 3s 0.36s infinite;
}
@keyframes h2-anime-img02{
    0%{transform: translate(280px, 0)scale(1,1);}
    20%{transform: translate(280px, -15px)scale(1,1);}
    25%{transform: translate(280px, -15px)scale(1.3,0.7);}
    30%{transform: translate(280px, -15px)scale(1,1);}
    35%{transform: translate(280px, -15px)scale(1.2,0.8);}
    40%{transform: translate(280px, -15px)scale(1,1);}
    45%{transform: translate(280px, -15px)scale(1.1,0.9);}
    80%{transform: translate(280px, -15px)scale(1,1);}
    100%{transform: translate(280px, 0)scale(1,1);}
}



/* お店の紹介写真 shop photo*/
.shop-photo{
    margin: 0 auto 100px;
}


.shop-photo p:nth-of-type(1) img{
    /* max-width: 600px; */
    max-width: 100%;
    margin: 0 auto 30px;
    display: flex;
    box-shadow: 0 0 10px 10px var(--color05);
}
.shop-photo p:nth-of-type(2) img{
    position: static;
    /* max-width: 600px; */
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    box-shadow: 0 0 10px 10px var(--color05);
}

/* LINE UP 商品ラインナップ */

#menu{
    margin: 0 auto 150px;
    width: 100%;
}
#menu  h2{
    display: flex;
    overflow: hidden;
}
#menu  h2 span{
    display: block;
    transform: translate(0, 50px);
}
#menu span:nth-of-type(1){
    animation: h2-anime 3s infinite;
}
#menu span:nth-of-type(2){
    animation: h2-anime 3s 0.04s infinite;
}
#menu span:nth-of-type(3){
    animation: h2-anime 3s 0.08s infinite;
}
#menu span:nth-of-type(4){
    animation: h2-anime 3s 0.12s infinite;
}
#menu span:nth-of-type(5){
    animation: h2-anime 3s 0.16s infinite;
}
#menu span:nth-of-type(6){
    animation: h2-anime 3s 0.20s infinite;
}
#menu span:nth-of-type(7){
    animation: h2-anime 3s 0.24s infinite;
}
#menu span:nth-of-type(8){
    animation: h2-anime 3s 0.28s infinite;
}

#menu span:nth-of-type(8){
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(../img/donut_char_500x500_03.png) center center/cover;
    animation: h2-anime-img03 3s 0.32s infinite;
}
@keyframes h2-anime-img03{
    0%{transform: translate(180px, 0px)scale(1,1);}
    20%{transform: translate(180px, -15px)scale(1,1);}
    25%{transform: translate(180px, -15px)scale(1.3,0.7);}
    30%{transform: translate(180px, -15px)scale(1,1);}
    35%{transform: translate(180px, -15px)scale(1.2,0.8);}
    40%{transform: translate(180px, -15px)scale(1,1);}
    45%{transform: translate(180px, -15px)scale(1.1,0.9);}
    80%{transform: translate(180px, -15px)scale(1,1);}
    100%{transform: translate(180px, 0px)scale(1,1);}
}
#menu span:nth-of-type(9){
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(../img/donut_char_500x500_04.png) center center/cover;
    animation: h2-anime-img04 3s 0.36s infinite;
}
@keyframes h2-anime-img04{
    0%{transform: translate(240px, 0)scale(1,1);}
    20%{transform: translate(240px, -15px)scale(1,1);}
    25%{transform: translate(240px, -15px)scale(1.3,0.7);}
    30%{transform: translate(240px, -15px)scale(1,1);}
    35%{transform: translate(240px, -15px)scale(1.2,0.8);}
    40%{transform: translate(240px, -15px)scale(1,1);}
    45%{transform: translate(240px, -15px)scale(1.1,0.9);}
    80%{transform: translate(240px, -15px)scale(1,1);}
    100%{transform: translate(240px, 0)scale(1,1);}
}





/* LINE UP 商品ラインナップ 各商品設定*/

#line-up{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-evenly;

}
.line-up-box{
    background-color: #fff;
    box-shadow:#fff 0 0 10px 5px ;
    max-width: 300px;
    height: 400px;
    margin-bottom: 30px;
}
.line-up-box img{
    margin-bottom: 20px;
    animation: hero2-anime 5s infinite; 
} 
.line-up-box:nth-of-type(1) img{
    animation: hero2-anime 5s 0.25s infinite;
}
.line-up-box:nth-of-type(2) img{
    animation: hero2-anime 5s 0.5s infinite;
}
.line-up-box:nth-of-type(3) img{
    animation: hero2-anime 5s 0.75s infinite;
}
.line-up-box:nth-of-type(4) img{
    animation: hero2-anime 5s 1.0s infinite;
}
.line-up-box:nth-of-type(5) img{
    animation: hero2-anime 5s 1.25s infinite;
}
.line-up-box:nth-of-type(6) img{
    animation: hero2-anime 5s 1.75s infinite;
}
.line-up-box:nth-of-type(7) img{
    animation: hero2-anime 5s 2.0s infinite;
}
.line-up-box:nth-of-type(8) img{
    animation: hero2-anime 5s 2.25s infinite;
}
.line-up-box:nth-of-type(9) img{
    animation: hero2-anime 5s 2.5s infinite;
}
@keyframes hero2-anime{
    0%{transform: scale(1,1);}
    45%{transform: scale(1,1);}
    50%{transform: scale(0.8,1.2);}
    55%{transform: scale(1,1);}
    58%{transform: scale(0.9,1.1);}
    61%{transform: scale(1,1);}
    64%{transform: scale(0.95,1.05);}
    67%{transform: scale(1,1);}
}
.line-up-box h3{
    margin-bottom: 20px;
}

/* loop-txt ループテキスト */
.loop-txt{
    width: 100%;
    display: flex;
    overflow: hidden;
}
.loop-txt p span{
    width: 55px;
    height: 55px;
    font-size: 57px;
    background: url(../img/donut_char.png) center center/cover;
    white-space: nowrap;
}
.loop-txt p{
    margin-bottom: 60px;
    font-size: 35px;
    white-space: nowrap;
    font-family: 'Mochiy Pop P One', sans-serif;
    animation: txt 10s 0.5s linear infinite;
}
@keyframes txt{
    0%{text-indent: 0em;}
    100%{text-indent: -10.441em;}
}


/* アクセス　地図 */
#access{
    width: 100%;
    margin: 0 auto 100px;
    background-color: #fff;
    box-shadow: 0 0 10px 5px #fff;
}
    
#access  h2{
    display: flex;
    overflow: hidden;
}
#access  h2 span{
    display: block;
    transform: translate(0, 50px);
}
#access span:nth-of-type(1){
    animation: h2-anime 3s infinite;
}
#access span:nth-of-type(2){
    animation: h2-anime 3s 0.04s infinite;
}
#access span:nth-of-type(3){
    animation: h2-anime 3s 0.08s infinite;
}
#access span:nth-of-type(4){
    animation: h2-anime 3s 0.12s infinite;
}
#access span:nth-of-type(5){
    animation: h2-anime 3s 0.16s infinite;
}
#access span:nth-of-type(6){
    animation: h2-anime 3s 0.20s infinite;
}
/* #access span:nth-of-type(7){
    animation: h2-anime 3s 0.24s infinite;
}
#access span:nth-of-type(8){
    animation: h2-anime 3s 0.28s infinite;
} */


#access span:nth-of-type(7){
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(../img/donut_char_500x500_05.png) center center/cover;
    animation: h2-anime-img05 3s 0.32s infinite;
}
@keyframes h2-anime-img05{
    0%{transform: translate(180px, 0px)scale(1,1);}
    20%{transform: translate(180px, -15px)scale(1,1);}
    25%{transform: translate(180px, -15px)scale(1.3,0.7);}
    30%{transform: translate(180px, -15px)scale(1,1);}
    35%{transform: translate(180px, -15px)scale(1.2,0.8);}
    40%{transform: translate(180px, -15px)scale(1,1);}
    45%{transform: translate(180px, -15px)scale(1.1,0.9);}
    80%{transform: translate(180px, -15px)scale(1,1);}
    100%{transform: translate(180px, 0px)scale(1,1);}
}
#access span:nth-of-type(8){
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(../img/donut_char_500x500_06.png) center center/cover;
    animation: h2-anime-img06 3s 0.36s infinite;
}
@keyframes h2-anime-img06{
    0%{transform: translate(240px, 0)scale(1,1);}
    20%{transform: translate(240px, -15px)scale(1,1);}
    25%{transform: translate(240px, -15px)scale(1.3,0.7);}
    30%{transform: translate(240px, -15px)scale(1,1);}
    35%{transform: translate(240px, -15px)scale(1.2,0.8);}
    40%{transform: translate(240px, -15px)scale(1,1);}
    45%{transform: translate(240px, -15px)scale(1.1,0.9);}
    80%{transform: translate(240px, -15px)scale(1,1);}
    100%{transform: translate(240px, 0)scale(1,1);}
}



#access .address{
    width: 100%;
}
#access .address dl{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#access .address dt{
    font-weight: 800;
    width: 50%;
    padding: 10px 0;
    border-bottom: 1px solid var(--color01);
    font-size: 16px
}
#access .address dd{
    width: 50%;
    background-color: #fff;     
    padding: 10px 0;  
    border-bottom: 1px solid  var(--color01);     
    font-size: 16px
}
#access #map{
    padding-left: 5%;
    width: 100%;
    height: 40vh;
}

/* footer　フッター */
/* footer .footer-box{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    line-height: 200px;
    background-color:var(--color04);
} */
footer{
    width: 100%;
    padding: 40px 20px;
background-color: var(--color04);
}
footer p{
    text-align: center;
    font-size: 25px;
    margin: 0 auto 30px;

}
footer .sns{
    width: 100%;
    display: flex;
    justify-content: center;
}
footer .sns li{
    margin-right: 30px;
}
footer .sns li a{
    transition: 0.3s;
}

footer .sns li:nth-of-type(1) a{
    font-size: 44px;
    background: url(../img/x-twitter.svg) no-repeat;
}
footer .sns li:nth-of-type(2) a{
    font-size: 44px;
    background: url(../img/instagram.svg) no-repeat;
}
footer .sns li:nth-of-type(3) a{
    font-size: 44px;
    background: url(../img/tiktok.svg) no-repeat;
}
footer .sns li:nth-of-type(1) a:hover{
    background: url(../img/x-twitter02.svg) no-repeat;
}

footer .sns li:nth-of-type(2) a:hover{
    background: url(../img/instagram02.svg) no-repeat;
}

footer .sns li:nth-of-type(3) a:hover{
    background: url(../img/tiktok02.svg) no-repeat;
}

/* オープニング */
#curtain{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#ffa3ff 20%,#fff 30%, #ffff91 70%,#fff 80%,#ffa3ff 100%);
    z-index: 100;
}
#layer02 path{
    fill:none;
    stroke:#fff;
    stroke-width: 14px;
    stroke-dasharray: 2000px;
    stroke-dashoffset: 2000px;
    animation:op-text 3.5s 0.3s linear  forwards; 
}
@keyframes op-text{
    0%{stroke-dashoffset:2000px;}
    60%{stroke-dashoffset: 0;}
    100%{stroke-dashoffset: 0;}
}
#layer01{
    mask: url(#layer02-mask);
    fill:var(--color01);
}
.op-logo{
    position: absolute;
    inset: 0;
    margin: 30vh auto;
    max-width: 800px;          
    /* margin: auto; */
    animation:op-text02 3.5s 0.3s linear  forwards; 
}
@keyframes op-text02{
    0%{transform:scale(1,1);}
    60%{transform:scale(1,1);}
    70%{transform:scale(0.7,1.3);}
    75%{transform:scale(1,1);}
    78%{transform:scale(0.8,1.2);}
    81%{transform:scale(1,1);}
    83%{transform:scale(0.9,1.1);}
    85%{transform:scale(1,1);}
    100%{transform:scale(1,1);}
}



/* メディクエリ */
@media (min-width:769px){
    h2{   font-size: 55px;}
    /* ハンバーガーメニューボタン :メディクエリ*/
    .hamberger{
        display: none;
    }

    /* ナビゲーション :メディクエリ */
    nav{
        position: fixed;
        width: auto;
        height: auto;
        width: 250px;
        top: 30%;
        left: 80%;
        z-index: 3;
        font-family: 'Dela Gothic One', cursive;
        background:var(--color04) ;
        box-shadow: 0 0 10px 10px #ffffffa7;
        padding: 10px;
    }
    /* ABOUT ME キャラクター：ドーナツさん動き*/
    #about-me span:nth-of-type(9){
        width: 95px;
        height: 95px;
    }
    @keyframes h2-anime-img01{
        0%{transform: translate(480px, -20px)scale(1,1);}
        20%{transform: translate(480px, -30px)scale(1,1);}
        25%{transform: translate(480px, -30px)scale(1.3,0.7);}
        30%{transform: translate(480px, -30px)scale(1,1);}
        35%{transform: translate(480px, -30px)scale(1.2,0.8);}
        40%{transform: translate(480px, -30px)scale(1,1);}
        45%{transform: translate(480px, -30px)scale(1.1,0.9);}
        80%{transform: translate(480px, -30px)scale(1,1);}
        100%{transform: translate(480px, -20px)scale(1,1);}
    }
    #about-me span:nth-of-type(10){
        width: 95px;
        height: 95px;
    }
    @keyframes h2-anime-img02{
        0%{transform: translate(580px, -20px)scale(1,1);}
        20%{transform: translate(580px, -30px)scale(1,1);}
        25%{transform: translate(580px, -30px)scale(1.3,0.7);}
        30%{transform: translate(580px, -30px)scale(1,1);}
        35%{transform: translate(580px, -30px)scale(1.2,0.8);}
        40%{transform: translate(580px, -30px)scale(1,1);}
        45%{transform: translate(580px, -30px)scale(1.1,0.9);}
        80%{transform: translate(580px, -30px)scale(1,1);}
        100%{transform: translate(580px, -20px)scale(1,1);}
    }

    /* LINE UP 商品ラインナップ 各商品設定 :メディクエリ*/
    #menu{
        margin: 0 auto 150px;
        max-width: 1080px;
    }
        #menu span:nth-of-type(8){
            width: 95px;
            height: 95px;
        }
    @keyframes h2-anime-img03{
        0%{transform: translate(380px, -20px)scale(1,1);}
        20%{transform: translate(380px, -30px)scale(1,1);}
        25%{transform: translate(380px, -30px)scale(1.3,0.7);}
        30%{transform: translate(380px, -30px)scale(1,1);}
        35%{transform: translate(380px, -30px)scale(1.2,0.8);}
        40%{transform: translate(380px, -30px)scale(1,1);}
        45%{transform: translate(380px, -30px)scale(1.1,0.9);}
        80%{transform: translate(380px, -30px)scale(1,1);}
        100%{transform: translate(380px, -20px)scale(1,1);}
    }
    #menu span:nth-of-type(9){
        width: 95px;
        height: 95px;
    }
    @keyframes h2-anime-img04{
        0%{transform: translate(480px, -20px)scale(1,1);}
        20%{transform: translate(480px, -30px)scale(1,1);}
        25%{transform: translate(480px, -30px)scale(1.3,0.7);}
        30%{transform: translate(480px, -30px)scale(1,1);}
        35%{transform: translate(480px, -30px)scale(1.2,0.8);}
        40%{transform: translate(480px, -30px)scale(1,1);}
        45%{transform: translate(480px, -30px)scale(1.1,0.9);}
        80%{transform: translate(480px, -30px)scale(1,1);}
        100%{transform: translate(480px, -20px)scale(1,1);}
    }
    
    /* loop-txtループテキスト :メディクエリ*/
    .loop-txt p{   
        font-size: 55px;
        margin-bottom: 130px;
    }

    /* アクセス　地図  :メディクエリ*/
    #access{
        max-width: 1080px;
    }
    #access .address{
        display: flex;
    }
    #access .address dl{
        text-align-last: left;
    }
    #access .address dt{
        font-size: 26px;
        height: 60px;
    }
    #access .address dd{
        font-size: 22px;
        height: 60px;
    }
    #access .address-box{
        width: 50%;
    }
    #access #map{
        width: 45%;
        height: 50vh;
    }
    #access span:nth-of-type(7){
        width: 95px;
        height: 95px;
    }
    @keyframes h2-anime-img05{
        0%{transform: translate(380px, -20px)scale(1,1);}
        20%{transform: translate(380px, -30px)scale(1,1);}
        25%{transform: translate(380px, -30px)scale(1.3,0.7);}
        30%{transform: translate(380px, -30px)scale(1,1);}
        35%{transform: translate(380px, -30px)scale(1.2,0.8);}
        40%{transform: translate(380px, -30px)scale(1,1);}
        45%{transform: translate(380px, -30px)scale(1.1,0.9);}
        80%{transform: translate(380px, -30px)scale(1,1);}
        100%{transform: translate(380px, -20px)scale(1,1);}
    }
    #access span:nth-of-type(8){
        width: 95px;
        height: 95px;
    }
    @keyframes h2-anime-img06{
        0%{transform: translate(480px, -20px)scale(1,1);}
        20%{transform: translate(480px, -30px)scale(1,1);}
        25%{transform: translate(480px, -30px)scale(1.3,0.7);}
        30%{transform: translate(480px, -30px)scale(1,1);}
        35%{transform: translate(480px, -30px)scale(1.2,0.8);}
        40%{transform: translate(480px, -30px)scale(1,1);}
        45%{transform: translate(480px, -30px)scale(1.1,0.9);}
        80%{transform: translate(480px, -30px)scale(1,1);}
        100%{transform: translate(480px, -20px)scale(1,1);}
    }

}
@media (min-width:950px){
    /* お店の紹介写真 shop photo :メディクエリ*/
    .shop-photo{
        position: relative;
        max-width: 1080px;
        height: 600px;
        margin: 0 auto 200px;
    }
    .shop-photo p{
        max-width: 600px;
    }
    .shop-photo p:nth-of-type(1) img{
        box-shadow: 0 0 10px 10px var(--color06);

    }
    .shop-photo p:nth-of-type(2) img{
        position: absolute;
        top: 340px;
        left: 550px;
        width: 400px;
        box-shadow: 0 0 10px 10px var(--color05);
    }

}