@charset "utf-8";/* ないとサーバーで文字化けする */
/* CSSリセット */
*{
 margin: 0;
 padding: 0;
 line-height: 1.0;
 box-sizing: border-box;
}
ul{
 list-style: none;
}
a{
 text-decoration: none;

}
img{
 vertical-align: bottom;/* 縦の位置に2pxぐらい隙間があるから */
}

/* 全ページ共通 */

header{
 padding: 30px 0;
}
h1{
 text-align: center;
}
.g-nav{
 width: 100%;
 height: 50px;
 /* background-color: #854836; */
 background-color: #36563C;
 margin-bottom: 80px;
}
.g-nav>ul{
 width: 960px;/* ボタンの大きさをあまり大きくならないように */
 margin: 0 auto;/* 要素を真ん中に持ってきたい */
 display: flex;
}
.g-nav li{
 width: 20%;
 height: 50px;
}
.g-nav a{
 display: block;
 text-align: center;
 line-height: 50px;
 color: #fff;
 border-right: 1px solid #fff;
}

.g-nav li:nth-of-type(1) a{/*aは1つしかないだからliから引き出す */
 border-left: 1px solid #fff;
}
.g-nav a:hover{
 background-color: #92e5a2;
 color: #36563C;
}
main{
 width: 960px;
 margin: 0 auto 80px;/* m0-a80 */
}
footer{
 width: 100%;
 height: 100px;
 background-color: #36563c;
}
footer>p{
 color: #fff;
 text-align: center;/* 中央揃い */
 line-height: 100px;/* 中央揃い */
}





/* トップページ部分のみのCSS */
.main-visual{
margin-bottom: 80px;
}
.main-copy h2{/* 同じグループだから余白はちょっとだけ */
 margin-bottom: 20px;
 text-align: center;
}
.main-copy>p{
 width: 600px;/* このままでは文章が横に広がりすぎて読みにくいから */
 margin: 0 auto;
 line-height: 2.4;/* 何もないシンプルな造りの時は2.4ぐらいまで開けても問題ない */
 /* text-align: center; */
}




/* 季節ページ    トップページに影響が出ない命令方法にしよう class名はコピペしよう*/
.wrapper{
 display: flex;/* df 2つの要素を横並びに */
}
.photo{
 margin-right: 40px;
}
.season-txt>h2{
margin-bottom: 20px;
}
.season-txt>p{
 line-height: 2;
}



/* 個別ページ  */

/* 春ページ */
.spring .g-nav{
 background-color: #E87A90;
}
.spring .g-nav a:hover{
 color: #a44558;
 background-color: #ffdbe2;
}
.spring>footer{
 background-color: #E87A90;
}

/* 夏ページ */
.summer .g-nav{
 background-color: #0089A7;
}
.summer .g-nav a:hover{
 color: #003f4e;
 background-color: rgb(0, 167, 204);
}
.summer>footer{
 background-color: #0089A7;
}

/* 秋ページ */
.fall .g-nav{
 background-color: #B54434;
}
.fall .g-nav a:hover{
 color: #792a20;
 background-color: #e65744;
}
.fall footer{
 background-color: #B54434;
}

/* 冬ページ */
.winter .g-nav{
 background-color: #113285;
}
.winter .g-nav a:hover{
 color: #0a1e50;
 background-color: #849fe2;
}
.winter footer{
 background-color: #113285;
}