@charset 'utf-8';

*{margin: 0;padding: 0;line-height: 1;}
body {
font-family: Arial,"Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
/*   ここまでフォントファミリー  各OSに適したフォントを用意しておく*/
color: #555;
/* サイト全体の文字色を定義しておく */
letter-spacing: 0.05em;
/* サイト全体の文字間を定義しておく */

}
li {
list-style-type: none;
/*   liの装飾を削除する 　ul:list-style: none;　でも同じこと */
}
a {
text-decoration: none;
/*   aタグの初期設定。aタグはでデフォルトで持っている下線を消しておく */
}

img{
max-width: 100%;
/* 親要素以上に大きくならない */
vertical-align: bottom;
/* imgは、文字と同等扱いなので、必ず下部に余白（デセンダー）が出来てしまうのを防ぐ。他の防ぐ方法としてインライン要素をブロック要素に変える方法もあり */
}
/* reset and initial */

.container{
position: absolute;
max-width: 800px;
height: 500px;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
background-color: #fff;
padding: 50px;
z-index: 1;
}
#bg{
position: fixed;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.6);
width: 100%;
height: 100vh;
display: none;
}

h1{
line-height: 50px;
text-align: center;
font-size: 25px;
margin-bottom: 40px;

}

.content p.txt{
line-height: 1.7;
margin-bottom: 20px;
}

.content p.link{
position: absolute;
width: 70%;
left: 0;
bottom: 80px;
margin-left: 15%;
height: 60px;
}

.content p.link a{
display: block;
line-height: 60px;
text-align: center;
background-color: #444;
color: #fff;
border-radius: 10px;

}
